.top-elements-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px;
}
span{
    display: flex;
    align-items: flex-start;
}
.search{
    padding: 20px 10px;
    border-bottom: solid black 2px;
}
button{
    background-color: #fff;
}
input{
    font-family: 'Inter', serif;
    width: 40vw;
}
.cart{
    font-weight: bold;
}
.category{
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.category:hover {
    color: #ECC7D0;
    transition: 0.2s;
}
.category-menu{
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
}
.menu-btn {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-right: 20px;
    position: relative;
    z-index:2;
    overflow: hidden;
    display: none;
}
.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 45px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
.menu.active {
    transform: translateX(0);
}
.menu-btn.active span:first-of-type {
    transform: translateX(100%);
}
.menu-btn.active span:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 1000px) {
    .category-menu{
        display: none;
    }
    .menu-btn {
        display: block;
    }
}
@media (max-width: 900px) {
    .top-elements-block{
        display: flex;
        flex-direction: column;
    }
    .search{
        margin: 30px 0;
    }
}
@media (max-width: 600px) {
    .search-input{
        display: none;
    }
    .search{
        border: solid #D7D7D7 2px;
        border-radius: 15px;
        padding: 10px;
        margin: 0 15px;
    }
    .top-elements-block{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 25px 40px;
    }
    .aurora-logo{
        width: 70px;
    }
}

