html,body{
    height: 100%;
    width: 100%;
    font-family: 'Lato', serif;
    font-size: 14px;
}
span:last-child{
    padding-right: 10px;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: solid #D7D7D7 2px;
}
.contact-info-block{
    display: flex;
    flex-direction: row;
}
.authorization-block{
    display: flex;
    flex-direction: row;
}
.top-bar-img{
    width: 20px;
    margin-right: 10px;
}
.contact{
    display: flex;
    align-items: center;
    color: black;
    margin-right: 15px;
}
.contact:hover{
    opacity: 0.5;
    transition: 0.2s;
}
.authorization{
    display: flex;
    align-items: center;
    color: black;
    margin-right: -2px;
    padding: 15px;
    border-left: solid #D7D7D7 2px;
    border-right: solid #D7D7D7 2px;
}
.authorization:hover{
    opacity: 0.5;
    transition: 0.2s;
}
@media (max-width: 850px) {
    .contact-info-block{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .authorization-block {
        display: flex;
        flex-direction: column;
    }
    .contact{
        margin: 2px 0;
    }
    .authorization{
        padding: 2px 15px;
    }
    .top-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10vw;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .contact-info-block{
        display: flex;
        flex-direction: row;
    }
    .authorization-block {
        display: flex;
        flex-direction: row;
    }
    .contact{
        font-size: 0;
    }
    .authorization{
        font-size: 0;
        padding: 0;
        border-left: solid #ffffff 1px;
        border-right: solid #ffffff 1px;
    }
}